.search-box {
    margin-top: -120px;
    border-radius: 0;
}

.checkdate-pane {
    border:solid 1px #ccc;        
    background:#fff;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size:12px;
    .startdate-pane {
      display: flex;    
      .label-checkin{            
        color:#ccc;
        margin-right:10px;
      }
      .label-startdate{
        color : #63c55e;
        cursor: pointer;
      }      
    }
    .date-control {
      display: flex;
      align-items: center;
      .label-nights{
        color:#63c55e;
        margin-left:10px;
      }
      .date-minus {
        border-radius: 15px;    
        box-shadow: 2px 2px 5px 2px #ccc;
        height: 25px;
        width: 25px;
        line-height: 25px;
        text-align: center;
        margin-left:10px;
        cursor: pointer;
      }
      .date-counts{
        margin-left:10px;
      }
      .date-plus {
        border-radius: 15px;    
        box-shadow: 2px 2px 5px 2px #ccc;
        height: 25px;
        width: 25px;
        line-height: 25px;
        text-align: center;
        cursor: pointer;
      }
    }
    .enddate-pane{
      display: flex;
      .label-checkout{
        color:#ccc;
        margin-right:10px;
      }
      .label-enddate{
        color : #63c55e;
        cursor: pointer;
      } 
    }
  }
  .floatDatePicker{      
    position: absolute;
    margin-top: 50px;
    float : left;      
  }    

  .label-startdate  .DateRangePickerInput_arrow,
.label-enddate .DateRangePickerInput_arrow {
  display: none !important;
}
.label-startdate .DateRangePickerInput div:nth-child(3) {
  display: none !important;
}
.label-enddate .DateRangePickerInput div:nth-child(1) {
  display: none !important;
}

.DateInput_input {
  color : #63c55e !important;
  font-size: 12px !important;
}
.DateRangePickerInput__withBorder {
  border: 0px !important;
}
.DateInput_input__focused {
  border-bottom: 0px !important;
}