.roomate-panel {
    font-size: 12px;
    border: solid 1px #ddd;
    background: rgb(255, 255, 255);
    height:52px;
    .roomate-room {        
        font-size: 14px;
        font-weight: bold;
        margin-left: 20px;
    }
    
}
